# =========================
# Maven / Build
# =========================
target/
build/

# =========================
# Logs
# =========================
*.log

# =========================
# Screenshots / Reports
# =========================
screenshots/
reports/
test-output/
playwright-report/

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE Files (Eclipse / IntelliJ)
# =========================
.project
.classpath
.settings/
.idea/
*.iml

# =========================
# Node (Playwright sometimes uses it)
# =========================
node_modules/

# =========================
# Environment / Secrets
# =========================
.env

# =========================
# Allow important files
# =========================
!pom.xml
!testng.xml
!src/