# Ignore everything
*

# Allow only test code
!src/
!src/test/
!src/test/java/

# Allow files inside test/java
!src/test/java/**

# Ignore build & IDE files
target/
*.log
*.png
screenshots/
.project
.classpath
.settings/
.idea/