<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test_selfassessment">
    <classes>
      <class name="com.Tests.Self_Assesments_T"/>
    </classes>
  </test> <!-- Test_selfassessment -->
</suite> <!-- Suite -->
